@use "./sass-vars" as *;

.skiplink {
  text-decoration: none;
  background-color:  var(--color-gray);
  outline: 1px solid transparent;
  padding: 0 8px;
  box-shadow: 6px 6px 6px var(--color-black);
}

.skiplink:focus-visible {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 3;
  outline-color: var(--color-accent);
}
