<!DOCTYPE html>
<html lang="{{ language or site.language }}">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ title }} | Robert Schmieder</title>
    <link rel="icon" type="image/svg" href="/assets/images/FAVICON.svg"/>
    <link rel="stylesheet" href="/assets/style.css"/>

    <link rel="preload" href="/assets/fonts/barlow-v13-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/arvo-v23-latin-700.woff2" as="font" type="font/woff2" crossorigin>

    {% if hidePage %}
      <meta name="robots" content="{{ hidePage }}"/>
    {% else %}
      <meta name="robots" content="index,follow"/>

      <meta name="author" content="Robert Schmieder"/>
      <meta name="description" content="{{ site.seo.desc }}"/>
      {# favicon #}
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <link rel="shortcut icon" href="/favicon.ico" />
      <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
      <meta name="apple-mobile-web-app-title" content="Schmieder Portfolio" />
      <link rel="manifest" href="/site.webmanifest" />
      {# opengraph #}
      <meta property="og:type" content="website"/>
      <meta property="og:title" content="{{ site.seo.title }}"/>
      <meta property="og:site_name" content="Robert Schmieder Game & Level Designer"/>
      <meta property="og:locale" content="en-EN"/>
      <meta property="og:description" content="{{ site.seo.desc }}"/>
      <meta property="og:url" content="{{ site.url + page.url }}"/>
      <meta property="og:image" content="opengraph.png"/>
      <meta property="og:image:alt" content="{{ site.seo.imgAlt }}"/>
      <meta property="og:image:width" content="1200"/>
      <meta property="og:image:height" content="630"/>
    {% endif %}
  </head>

  <body>

    <a href="#main-content" class="skiplink button visuallyhidden">Skip to main content</a>
    {% include "../includes/header.njk" %}
    <main id="main-content" class="content-grid flow">
      {{ content | safe }}
    </main>

    {% include "../includes/footer.njk" %}
    <script type="module" src="/assets/main.js"></script>
  </body>
</html>
