<ul class="project-teaser--twothird student breakout">
    {% for page in collections.student %}
    <li>
      <div class="card">
        {# too many position absolutes, hacky hidden extra link #}
        <a aria-hidden="true" tabindex="-1" href="{{ page.data.title | slugify }}" class="card__hack"></a>
        {% if page.data.heroImage.src %}
        <div class="card__img-wrapper">
          {% cardthumbnail page.data.heroImage.src, page.data.heroImage.alt, "card__img" %}
        </div>
        {% endif %}
        <div class="card__content">
          <a href="{{ page.data.title | slugify }}" class="card__link text-heading-bold">
            {{ page.data.title }}
          </a>
        </div>
      </div>
    </li>
    {% endfor %}
</ul>
